@model Tracker.ApplicationUser

@{
    ViewBag.Title = "Mapa gps";
}

<h2>Inicio</h2>

        @(Html.Kendo().DatePicker()
              .Name("datepicker")
              .Value("10/10/2011")
              .HtmlAttributes(new { style = "width:150px" })
        )

 <script src="~/Scripts/jquery.signalR-2.1.0.min.js"></script>
 <script src="~/signalr/hubs"></script> 
    
<script language="javascript" type="text/javascript">

    var googleMap;
    var imei;

    $(document).ready(function () {

        imei = '@Model.Imei';

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }

        if (imei !== '') {

            var bounds = new google.maps.LatLngBounds();
            var options = {
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            googleMap = new google.maps.Map($("#map")[0], options);
            var infoWindow = new google.maps.InfoWindow({ content: "Cargando..." });

            $.ajax({
                type: "POST",
                url: "https://localhost:44301/Mapa/GetMarkers",
                data: { imei: imei },
                datatype: "json",
                success: function (data) {

                    if (data.length > 0) {
                        var myLatlng = new google.maps.LatLng(data[0].Latitude, data[0].Longitude);
                        googleMap.setCenter(myLatlng);
                        googleMap.setZoom(12);

                        for (var i = 0; i < data.length; i++) {

                            var point = new google.maps.LatLng(data[i].Latitude, data[i].Longitude);

                            bounds.extend(point);

                            var marker = new google.maps.Marker({
                                position: point,
                                map: googleMap,
                                html: data[i].InfoWindow
                            });

                            google.maps.event.addListener(marker, "click", function () {
                                infoWindow.setContent(this.html);
                                infoWindow.open(googleMap, this);
                            });
                        }
                    }
                    else {
                        var myLatlng = new google.maps.LatLng('4.604772', '-74.135332');
                        googleMap.setCenter(myLatlng);
                        googleMap.setZoom(12);
                    }
                }

            });

            googleMap.fitBounds(bounds);
        }
    });

    function placeMarker(Latitude, Longitude) {
        var point = new google.maps.LatLng(Latitude, Longitude)
        var marker = new google.maps.Marker({
            position: point,
            map: googleMap,
            animation: google.maps.Animation.DROP,
        });
    }

   
    $(function () {            
        var chat = $.connection.chatHub;            
        chat.client.addNewMessageToPage = function (name, message) {
            /// Si coresponde al imei muestre el punto
            if (name === imei) {
                var cordenadas = message.toString().split(',');
                placeMarker(cordenadas[0], cordenadas[1]);
            }
        };          
            
        $.connection.hub.start().done(function () {               
        });
    });
        
    function htmlEncode(value) {           
    }
    
  
    function showPosition(position) {
        var myLatlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        googleMap.setCenter(myLatlng);
        googleMap.setZoom(10);
    }



    </script>

</script>

<div id="map" style="width: 800px; height: 500px;">
</div>

